.bor10 {
    border-radius: 10px;
}

/*.navbar {
    background: rgb(170,74,254);
    background: linear-gradient(90deg, rgba(170,74,254,1) 0%, rgba(59,17,143,1) 100%);
}*/

.section3Img {
    background: url('../img/tools/1.jpg') no-repeat;
    background-size: cover;
    height: 500px;
}